@model IEnumerable<WebMvc.ViewModels.ChartWithActionViewModel>

@{
    ViewData["Title"] = "Weather graphs";
}

<h1>Weather graphs</h1>
<!-- TODO: This requires pagination -->
<div>
    @foreach (var item in Model) {
        @await Html.PartialAsync("_Chart", item.ChartModel)
    }
</div>

@section Scripts {
    @foreach (var item in Model) {
        <script>
             $(function () {
                    ChartUtil.ListenInitializationEvent("@item.ChartModel.Id", function (chart) {
                        ChartUtil.AddEvent(chart, "click", function(_, affectedElements) {
                            if (affectedElements.length > 0) {
                                const id = affectedElements[0].element.$context.raw.actionId;
                                if (id === undefined) {
                                    throw "Action Id is undefined for given data!";
                                }
                                
                                window.location = `@item.ActionUrl/${id}`;
                            }
                        });
                    });
                });
        </script>
    }
}
