@model WebMvc.ViewModels.TrendViewModel

@{
    ViewData["Title"] = "Weather trends";
}

<h1>Latest weather data in @Model.Description: (@Model.DateFrom.ToString(Model.DateFormat) - @Model.DateTo.ToString(Model.DateFormat))</h1>
<div>
    @await Html.PartialAsync("_Chart", new WebMvc.ViewModels.ChartViewModel
    {
        Description = Model.ChartDescription,
        Id = "chart",
        Data = Model.Data,
        ChartType = WebMvc.Code.Enums.ChartType.line
    })
</div>

@section Scripts {
    <script src="~/dist/bundle.js"></script>
}
